header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

article {
  margin-bottom: 40px;
}

h2 {
  color: #007bff;
  margin-bottom: 20px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

.carousel {
 max-width: 80%;
}
